<h1 class="page-title">Register</h1>

<div class="row">
    <div class="col-6">
        <form name="fos_user_registration_form" method="post" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="far fa-envelope"></i>
                    </span>
                </div>
                <input type="email" class="form-control" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" placeholder="E-mail address" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" class="form-control" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" placeholder="Password" autocomplete="new-password" aria-autocomplete="list" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" class="form-control" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" placeholder="Password confirmation" autocomplete="new-password" aria-describedby="basic-addon1">
            </div>

            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token('registration') }}">

            <input class="btn btn-primary" type="submit" value="Register">

        </form>
    </div>
</div>